In [1]:
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier #k邻近算法模型
import pandas as pd

In [2]:
#使用datasets创建数据
import sklearn.datasets as datasets  
iris = datasets.load_iris()
iris_pd = pd.DataFrame(iris.data,columns=iris.feature_names)

In [3]:
#查看数据类型
iris_pd.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [4]:
#查看空值
iris_pd.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [5]:
iris_pd.dtypes.value_counts()

float64    4
dtype: int64

In [6]:
iris.data.shape

(150, 4)

In [7]:
#花萼长度，花萼宽度，花瓣长度，花瓣宽度4个属性
iris.data[:10]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [8]:
# 0:山鸢尾、1:杂色鸢尾、2:维吉尼亚鸢尾
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
#将样本打乱，符合真实情况
x_train,x_test,y_train,y_test = train_test_split(iris.data,iris.target,test_size=0.2)

In [10]:
#实例化模型对象&训练模型
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x_train,y_train)
knn.score(x_train,y_train)

0.975

In [11]:
y_predict = knn.predict(x_test)

In [12]:
print('预测分类：',y_predict)
print('真实分类：',y_test)

预测分类： [2 1 2 2 0 0 1 1 0 1 0 0 0 1 0 1 0 0 2 2 1 1 0 0 1 1 0 2 1 2]
真实分类： [2 1 2 2 0 0 1 2 0 1 0 0 0 2 0 2 0 0 2 2 1 1 0 0 1 1 0 2 1 2]

In [13]:
accuracy_score(y_predict,y_test)

0.9

In [14]:
print(knn.predict(np.array([[5.1,3.5,1.4,0.2]])))

[0]

In [15]:
print(knn.predict(np.array([[5.7, 2.8, 4.1, 1.3]])))

[1]